body {
    margin: 0;
    line-height: 1.5;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  } 

.input {
    background-color:#4B0082;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.input_item {
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    border: 0px solid;
}
.search_btn {
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    border: 0px solid;
    padding: 6px;
}
.is-hidden {
    visibility: hidden;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.load_more_btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
}


/* photo gallary */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.link {
    display: flex;
    flex-wrap: wrap;
}
.photo-card {
    padding: 10px;
    box-shadow: 0px 1px 1px 1px gray;
}
.image {
    display: block;
    width: 440px;
    height: 350px;
}
.info {
    display:flex;
    justify-content: center;
    align-items: center;
}
.info-item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 10px;
    color: black;
}
.count {
    display: flex;
    justify-content: center;
}